* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Gobold";
    src: url("./gobold/Gobold\ Extra2.otf");
}

@font-face {
    font-family: "Karla";
    src: url("./Karla/Karla-Regular.ttf")
}

body {
    font-family: Karla;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.release-year-label-containter {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.search-input {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border: none;
    height: 35px;
    text-align: center;
    font-size: 16px;
}

.search-input::placeholder {
    color: lightgrey;
}

label {
    font-size: 18px;
}

.release-year-instruct {
    font-size: 18px;
    margin-bottom: -5px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Gobold;
    background-color: rgba(255, 0, 0, 0.678);
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 55px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.hidden {
    display: none;
}

.js-error-message {
    color: red;
}

.release-year-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.tmdb-logo {
    height: 25px;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.app-info {
    width: 300px;
    font-size: 18px;
}

.results-area {
 width: 320px;
}

.genre-label {
    margin-top: 20px;
}

.moviePoster {
    box-shadow: 1px 1px 10px white;
}

select {
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-top: 0;
    font-size: 24px;
}

.not-available {
    color: white;
    font-size: 24px;
}

.new-search {
    display: flex;
    align-items: center;
}

.stream-service {
    width: 100px;
    background-color: white;
}

.streaming-area {
    padding-top: 20px;
    padding-bottom: 10px;
}

.stream-service:hover {
    background-color: gray;
}

.tmdb-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.tmdb-disclosure {
    font-size: 10px;
    text-align: left;
    margin-left: 10px;
}

.stream-button, .begin-button, .search-button, .new-search-button {
    background-color: rgba(255, 0, 0, 0.678);
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    height: 55px;
    border: none;
    color: white;
    font-size: 24px;
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: Karla;
}

.search-button {
    margin-top: 20px;
}

.stream-button {
    margin-bottom: -20px;
}

.stream-button:hover {
    background-color: rgba(238, 84, 84, 0.678);
}

.begin-button:hover {
    background-color: rgba(238, 84, 84, 0.678);
}

.search-button:hover {
    background-color: rgba(238, 84, 84, 0.678);
}

.new-search-button:hover {
    background-color: rgba(238, 84, 84, 0.678);
}

.stream-service {
    height: 40px;
    border-radius: 5px;
    padding: 1px;
}

.movieTitle {
    margin-top: 5px;
}

.overview {
    margin-bottom: 20px;
}

span {
    display: flex;
    flex-direction: column;
}

.release-year-labels {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.name {
    margin-top: 10px;
}

.year-label {
    margin-bottom: 10px;
}

.to {
    margin-top: 45px;
}
@media screen and (min-width: 600px) {
    .js-streaming {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .js-streaming li {
        padding-left: 2.5px;
        padding-right: 2.5px;
    }

    .overview {
        width: 500px;
    }
}